* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: rgb(247, 247, 247);
}
input[type="color"] {
  -webkit-appearance: none;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  background: linear-gradient(to bottom, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 500% 500%;
  height: 100vh;
  animation: gradient 10s ease infinite;
}
header {
  text-shadow: 0px 0px 10px rgb(3, 3, 4);
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
}

h4 {
  margin: auto;
  padding-top: 60px;
  padding-bottom: 30px;
  width: 90%;
  color: rgb(255, 255, 255);
  width: 80%;
  background: linear-gradient();
}

main {
  display: grid;
  padding: 50px;
  width: fit-content;
  margin: auto;
  background: rgba(0, 0, 0, 0.364);
  max-height: 100vh;
  border-radius: 20px;
}
.toolsColors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}
#tools {
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: transparent;
  height: 300px;
}
.container {
  padding: 10px;
  display: inline-grid;
  gap: 5px;
  height: 300px;
  margin: 0 0 20px 0;
  grid-template-columns: repeat(3, max-content);
  background-color: rgba(49, 49, 49, 0.545);
  border-radius: 20px;
}
@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: repeat(2, max-content);
  }
}
div {
  width: fit-content;
}
.color {
  margin-right: 30px;
}

input {
  border: none;
  color: transparent;
  background-color: transparent;
  margin-left: 20px;
  outline: none;
}
input:hover {
  cursor: pointer;
}
input[type="radio"] {
  margin: 5px;
}
p {
  color: white;
  text-align: center;
  margin: 30px 0;
}

#add {
  background-color: #2762a2;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 40px;
  text-align: center;
  line-height: 8px;
  animation-duration: 1s;
}
#add:hover {
  background-color: #007bff;
  cursor: pointer;
}
#add:focus {
  background-color: #215389;
}
select {
  color: black;
}
select option {
  color: black;
}
#degree {
  background-color: white;
  color: black;
  margin: 0;
}
#saveBackground {
  width: 100%;
  position: relative;
}
#savedBackgrounds {
  min-width: 34%;
  width: fit-content;
  min-height: 120px;
  height: fit-content;
  border-radius: 20px;
  background-color: rgba(233, 40, 40, 0.1);
}
#background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: black;
  border-radius: 100%;
  transition: 0.5s;
}

#res {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: auto;
  padding: 10px;
}
#result {
  padding: 5px;
  margin-top: 1px;
  display: none;
}
button {
  background-color: #2762a2;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  font-size: 8px;
  border: none;
}
button:hover {
  background-color: #007bff;
  cursor: pointer;
}
.faded-out {
  opacity: 0;
}
button:focus {
  background-color: #215389;
}
.resBtn {
  font-size: 18px;
  width: 150px;
  height: 70px;
  padding: 9px;
  border-radius: 5px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
